@page "/"


<div class="outer__content">
<div class="main">
  <div class="main__center center">
    <div class="main__wrap">
      <div class="custom_russo_one orangeFont size-text-section-up">
        <img src="arrow_.svg"/>
        НЕ ТОЛЬКО ПОКАЗЫ, НО И КОНВЕРСИИ!
      </div>
      <h1 class="head_mobile main__title custom_font_mplus1p_black">
        Видеореклама <br/> для 
        <div class="real-estate">недвижимости
          <!-- SVG line directly after the word "недвижимости" -->
          <div >
            <img class="underline-svg size-section1-svg" src="line.svg"/>
          </div>
        </div>
      </h1>
      <div class="main__text custom_font_mplus1p">
        Обеспечиваем максимальный охват реальных пользователей,<br/> исключая ботов, для глубокой персонализации и высокой отдачи <br/> от вашей рекламы</div>
      <div class="main__btns"> <a class="button main__button" target="_blank" href="adsurf.pdf">Скачать презентацию</a></div>
    </div><a class="scroll js-scroll" href="#steps">
      <div class="scroll__line">
        <svg class="icon icon-arrow-down">
          <use xlink:href="#icon-arrow-down"></use>
        </svg>
        <svg class="icon icon-arrow-down">
          <use xlink:href="#icon-arrow-down"></use>
        </svg>
      </div></a>
    <div class="main__gallery">
      <div class="main__preview" data-aos="animation-translate-up" data-aos-anchor=".main__gallery"><img class="some-icon" srcSet="Group 35914.png 2x" src="Group 35914.png" alt="Watch"></div>
      <!--<div class="main__preview" data-aos="animation-translate-up" data-aos-delay="900" data-aos-anchor=".main__gallery" ><img srcSet="second element.png 2x" src="second element.png" alt="Ball"></div>
      <div class="main__preview" data-aos="animation-translate-up" data-aos-delay="300" data-aos-anchor=".main__gallery"><img srcSet="img/content/bottle@2x.png 2x" src="img/content/bottle.png" alt="Bottle"></div>
      <div class="main__preview" data-aos="animation-translate-up" data-aos-delay="900" data-aos-anchor=".main__gallery"><img srcSet="img/content/ball-black@2x.png 2x" src="img/content/ball-black.png" alt="Ball black"></div>-->
    </div>
  </div>
</div>
<div class="clients">
  <div class="clients__center center">
    <div class="clients__title">Где мы показываем рекламу</div>
    <div class="clients__list">
      <div class="clients__logo" data-aos="animation-opacity"><img src="t1.svg" alt="Logo"></div>
      <div class="clients__logo" data-aos="animation-opacity"><img src="t2.svg" alt="Logo"></div>
      <div class="clients__logo" data-aos="animation-opacity"><img src="t3.svg" alt="Logo"></div>
      <div class="clients__logo" data-aos="animation-opacity"><img src="t4.svg" alt="Logo"></div>
      <div class="clients__logo" data-aos="animation-opacity"><img src="t5.svg" alt="Logo"></div>
      <div class="clients__logo" data-aos="animation-opacity"><img src="t6.svg" alt="Logo"></div>
    </div>
  </div>
</div>
<div class="section steps" id="steps">
  <div class="steps__center center">
    <div class="steps__head">
      <h2 class="steps__title custom_font_mplus1p_black" style="font-size: 45px;">Наши аудитории</h2>
      <div class="steps__info custom_font_mplus1p">Благодаря точному определению аудитории, мы показываем рекламу только тем пользователям, которые уже находятся в поиске квартиры</div>
    </div>
    <div class="steps__list">
      <div class="steps__item" data-aos="animation-opacity">
        <div class="steps__preview custom_russo_one" style="background-color: #3772FF;color: aliceblue;">Шаг 1</div>
        <div class="steps__content custom_font_mplus1p">Получаем пользователей с площадок-партнеров</div>
      </div>
      <div class="steps__item" data-aos="animation-opacity">
        <div class="steps__preview custom_russo_one" style="background-color: #9757D7;color: aliceblue;">Шаг 2</div>
        <div class="steps__content custom_font_mplus1p">Получаем захэшированные номера телефонов от партнерских сетей и других лидогенераторов</div>
      </div>
      <div class="steps__item" data-aos="animation-opacity">
        <div class="steps__preview custom_russo_one" style="background-color: #EF466F; color: aliceblue;">Шаг 3</div>
        <div class="steps__content custom_font_mplus1p">Путем наложения данных получаем более узкие аудитории с высоким уровнем заинтересованности 
          в приобретении квартиры</div>
      </div>
      <div class="steps__item" data-aos="animation-opacity">
        <div class="steps__preview custom_russo_one" style="background-color: #45B26B; color: aliceblue;">Шаг 4</div>
        <div class="steps__content custom_font_mplus1p">Получаем большее количество конверсий и трафик более высокого качества</div>
      </div>
    </div>
  </div>
</div>
<div class="team js-tabs team_padding">
  <div class="team__center center">
    <div class="team__head">
      <h2 class="team__title custom_font_mplus1p_black" style="font-size: 45px;">Знаем все о наших аудиториях</h2>
      <div class="team__info custom_font_mplus1p">В нашей системе мы не сосредоточены на аудиториях, а вместо этого работаем с индивидуальными профилями. За каждым профилем скрывается настоящий человек. Это позволяет нам не просто собирать информацию о группах людей, а углубляться в понимание интересов и предпочтений каждого пользователя, изучая то, что его привлекает сейчас и что привлекало в прошлом.</div>
      <div class="team__nav"><a class="team__link js-tabs-link" href="#">Премиум-класс</a><a class="team__link js-tabs-link" href="#">Бизнес-класс</a><a class="team__link js-tabs-link" href="#">Комфорт</a></div>
      <select class="select js-tabs-select">
        <option>Премиум-класс</option>
        <option>Бизнес-класс</option>
        <option>Комфорт</option>
      </select>
    </div>
    <div class="team__container">
      <div class="team__box js-tabs-item">
        <div class="team__wrap">
          <div class="team__slider js-tabs-slider">
            <div class="team__slide" data-aos="animation-opacity">
              <a class="team__item js-popup-open">
                <div class="team__avatar"><img src="photo1.png" alt="Avatar"></div>
                <div class="team__man">User #1</div>
                <div class="team__position custom_font_mplus1p">Скачивала планировки <br/>на классифайдах в смежных ЖК </div></a>
            </div>
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
              <div class="team__avatar"><img src="photo2.png" alt="Avatar"></div>
              <div class="team__man">User #2</div>
              <div class="team__position custom_font_mplus1p">Звонил в жилые комплексы <br/> цена кв. м. более 500 тыс. руб.</div></a></div>
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
              <div class="team__avatar"><img src="photo3.png" alt="Avatar"></div>
              <div class="team__man">User #3</div>
              <div class="team__position custom_font_mplus1p">Была в офисе продаж <br/> 2 дня назад</div></a></div>
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
              <div class="team__avatar"><img src="img/content/avatar-4.png" alt="Avatar"></div>
              <div class="team__man">User #4</div>
              <div class="team__position custom_font_mplus1p">Ознакомилась с 7 ЖК <br/>на классифайде в течение 2 дней</div></a></div>
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
              <div class="team__avatar"><img src="image4.png" alt="Avatar"></div>
              <div class="team__man">User #5</div>
              <div class="team__position custom_font_mplus1p">Каждый день изучает информацию <br/> на сайтах классифайдах  в течении недели</div></a></div>
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
              <div class="team__avatar"><img src="img/content/avatar-6.png" alt="Avatar"></div>
              <div class="team__man">User #6</div>
              <div class="team__position custom_font_mplus1p">Искала контакты застройщиков <br/> на сайтах классифайдах</div></a></div>
          </div>
        </div>
      </div>
      <div class="team__box js-tabs-item">
        <div class="team__wrap">
          <div class="team__slider js-tabs-slider">
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
              <div class="team__avatar"><img src="image7.png" alt="Avatar"></div>
              <div class="team__man">User #1</div>
              <div class="team__position custom_font_mplus1p">Сравнивала квартиры <br/>от разных жилых комплексов</div></a></div>
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
              <div class="team__avatar"><img src="image8.png" alt="Avatar"></div>
              <div class="team__man">User #2</div>
              <div class="team__position custom_font_mplus1p">Искала отзывы о ЖК<br/> в соцсетях</div></a></div>
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
              <div class="team__avatar"><img src="image10.png" alt="Avatar"></div>
              <div class="team__man">User #3</div>
              <div class="team__position custom_font_mplus1p">Запрашивала цены и планировки <br/> квартир в нескольких ЖК</div></a></div>
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
                <div class="team__avatar"><img src="image17.png" alt="Avatar"></div>
                <div class="team__man">User #4</div>
                <div class="team__position custom_font_mplus1p">Искал информацию о ставках<br/> ипотеки в разных банках</div></a>
            </div>
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
                <div class="team__avatar"><img src="image18.png" alt="Avatar"></div>
                <div class="team__man">User #5</div>
                <div class="team__position custom_font_mplus1p">Оставил заявку на просмотр <br/>квартиры через онлайн-форму</div></a>
            </div>
                                        
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open">
                <div class="team__avatar"><img src="image19.png" alt="Avatar"></div>
                <div class="team__man">User #6</div>
                <div class="team__position custom_font_mplus1p">Посетил виртуальный 3D-тур <br/> по 9 квартирам</div></a>
            </div>
          </div>
        </div>
      </div>
      <div class="team__box js-tabs-item">
        <div class="team__wrap">
          <div class="team__slider js-tabs-slider">
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
              <div class="team__avatar"><img src="image6.png" alt="Avatar"></div>
              <div class="team__man">User #1</div>
              <div class="team__position custom_font_mplus1p">Задавал вопросы в соцсетях<br/> о наличии парковочных мест</div></a></div>
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
              <div class="team__avatar"><img src="image11.png" alt="Avatar"></div>
              <div class="team__man">User #2</div>
              <div class="team__position custom_font_mplus1p">Подписалcя на обновления <br/>о старте продаж новой очереди</div></a></div>
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
              <div class="team__avatar"><img src="image12.png" alt="Avatar"></div>
              <div class="team__man">User #3</div>
              <div class="team__position custom_font_mplus1p">Сравнивала стоимость кв. м. <br> в различных районах города</div></a></div>
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
              <div class="team__avatar"><img src="image13.png" alt="Avatar"></div>
              <div class="team__man">User #4</div>
              <div class="team__position custom_font_mplus1p">Сравнивала отзывы о <br/>застройщиках на форумах</div></a></div>
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
              <div class="team__avatar"><img src="image14.png" alt="Avatar"></div>
              <div class="team__man">User #5</div>
              <div class="team__position custom_font_mplus1p">Проанализировала изменения цен<br> в новостройках за последний месяц</div></a></div>
            <div class="team__slide" data-aos="animation-opacity"><a class="team__item js-popup-open" >
              <div class="team__avatar"><img src="image15.png" alt="Avatar"></div>
              <div class="team__man">User #6</div>
              <div class="team__position custom_font_mplus1p">Прошел онлайн-квиз для определения <br/> подходящего жилого комплекса </div></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-pb lifestyle">
  <div class="lifestyle__center center">
    <div class="lifestyle__head">
      <h2  class="lifestyle__title custom_font_mplus1p_black" style="font-size: 45px;">Наши форматы</h2>
      <div class="lifestyle__info custom_font_mplus1p">Показываем ваши объявления <br/> потенциальным клиентам в нужном месте и в нужное время</div>
    </div>
    <div class="lifestyle__wrap">
      <div class="lifestyle__slider js-slider-mobile-one js-slider-resize">
        <div class="lifestyle__row" data-aos="animation-opacity">
          <div class="lifestyle__col">
            <div class="lifestyle__details">
              <div class="lifestyle__number custom_russo_one">OutStream</div>
              <div class="lifestyle__content custom_font_mplus1p">Формат рекламы, который размещается в текстовом контенте, на веб-страницах или в приложениях, где изначально видеоконтент отсутствует</div>
            </div>
          </div>
          <div class="lifestyle__col">
            <div class="lifestyle__preview"><img srcSet="outstream00000.png 2x" src="outstream00000.png" alt="Lifestyle Pic"></div>
          </div>
        </div>
        <div class="lifestyle__row" data-aos="animation-opacity">
          <div class="lifestyle__col">
            <div class="lifestyle__details">
              <div class="lifestyle__number">InStream</div>
              <div class="lifestyle__content custom_font_mplus1p">Формат рекламы, который показывается до, во время или после видеоконтента в интернете. Этот формат часто используется на видеоплатформах, таких как RuTube, а также в социальных сетях и на других сайтах с видеоконтентом</div>
            </div>
          </div>
          <div class="lifestyle__col">
            <div class="lifestyle__preview"><img srcSet="instream002.png 2x" src="instream002.png" alt="Lifestyle Pic"></div>
          </div>
        </div>
        <div class="lifestyle__row" data-aos="animation-opacity">
          <div class="lifestyle__col">
            <div class="lifestyle__details">
              <div class="lifestyle__number">Banner-video</div>
              <div class="lifestyle__content custom_font_mplus1p">Тип рекламы, сочетающий в себе элементы традиционных баннерных объявлений и видеоконтента. Этот формат предоставляет возможность привлекать внимание пользователей с помощью динамичного и интерактивного видео, встраиваемого в различные веб-страницы или платформы социальных сетей</div>
            </div>
          </div>
          <div class="lifestyle__col">
            <div class="lifestyle__preview"><img srcSet="inbanner004.png 2x" src="inbanner004.png" alt="Lifestyle Pic"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  
<div class="section-bg book">
  <div class="book__center center">
    <div class="book__gallery">
      <div class="book__preview"><img class="some-icon" srcSet="footer1235.svg 2x" src="footer1235.svg" alt="Book pic"></div>
    </div>
    <div class="book__wrap">
      <h2 class="book__title custom_font_mplus1p_black" style="font-size: 45px;">AdSurf Anti-fraud</h2>
      <div class="book__info custom_font_mplus1p">Антифродовая система проверяет каждый показ и защищает от всех видов мошенничества.</div>
      <div class="book__list">
        <div class="book__item">
          <div class="book__icon" style="background-color: #45B26B;"><img src="bot.svg" alt="User" style="width: 30px;"></div>
          <div class="book__details">
            <div class="book__subtitle custom_font_mplus1p_black">Фейковые просмотры </div>
            <div class="book__content custom_font_mplus1p">Определение и исключение автоматизированных программ (ботов) которые имитирую реальных пользователей.</div>
          </div>
        </div>
        <div class="book__item">
          <div class="book__icon" style="background-color: #9757D7;"><img src="stack.svg" alt="Medal" style="width: 20px;"></div>
          <div class="book__details">
            <div class="book__subtitle custom_font_mplus1p_black">Ad Stacking</div>
            <div class="book__content custom_font_mplus1p">Блокировка сайтов, которые скрывают несколько рекламных видео одно под другим в одном  месте. Хотя пользователи видят только самое верхнее видео, каждое из них считается просмотренным.</div>
          </div>
        </div>
        <div class="book__item">
          <div class="book__icon" style="background-color: #3772FF;"><img src="pixel.svg" alt="Lightning" style="width: 20px;"></div>
          <div class="book__details">
            <div class="book__subtitle custom_font_mplus1p_black">Pixel Stuffing</div>
            <div class="book__content custom_font_mplus1p"> Идентификация, когда видеореклама встраивается в пиксели, такие как 1x1, делая её невидимой для пользователя, но при этом неправомерно засчитывая за показ.</div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
</div>
